<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-Rep LineFollower API control</title>
    <link rel="stylesheet" href="static/pure-release-0.6.0/pure-min.css">
    <style>
      #control { padding: 10px }
      #control table, #control td { border: none; }
    </style>
</head>

<body>

<div id="control">
  <h2>V-Rep LineFollower API control</h2>
  <a class="pure-button pure-button-primary" href="/do/image">Get Image</a><br \><br \>
  <a class="pure-button pure-button-primary" href="/do/start">start</a> | <a class="pure-button pure-button-primary" href="/do/stop">stop</a> 
  <table class="pure-table">
    <tbody>
      <tr>
        <td></td>
        <td align="center"><a class="pure-button pure-button-primary" href="/do/up">up</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a class="pure-button pure-button-primary" href="/do/left">left</a></td>
        <td><img width="150" src="static/linefollower.jpg"></td>
        <td><a class="pure-button pure-button-primary" href="/do/right">right</a></td>
      </tr>
      <tr>
        <td></td>
        <td align="center"><a class="pure-button pure-button-primary" href="/do/down">down</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>






